opencv-python
scenedetect
ffmpeg
ultralytics
Tensorflow
Pytorch
scikit-learn
numpy
pandas
streamlit
torch==2.3.0+cpu
torchvision==0.18.0+cpu
torchaudio==2.3.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html



